
<div class="TN-management">
  <div class="inner-TNmanagement">
    <h2>Review - Form</h2>
  </div>
  <div class="inner-TNmanagement">
    <h4>Review - Form</h4>
  </div>
  <div class="inner-TNmanagement">
    <form [formGroup]="reviewForm" (ngSubmit)="reviewFormDetails(reviewForm.value)">
      <div class="form-controls">
        <div class="inner-form-controls">
          <label for="technicalTopic">Technical Topic</label>
          <select id="technicalTopic" formControlName="technicalTopic">
            <option value="" disabled selected>Select Technical Topic</option>
            <option value="Java">Java</option>
            <option value="Testing">Testing</option>
          </select>
        </div>
        <div class="inner-form-controls">
          <label for="reviewerName">Reviewer Name</label>
          <input id="reviewerName" type="text" placeholder="Enter Reviewer Name" formControlName="reviewerName" />
        </div>
        <div class="inner-form-controls">
          <label for="reviewerID">Reviewer ID</label>
          <input id="reviewerID" type="text" placeholder="Enter Reviewer ID" formControlName="reviewerID" />
        </div>
      </div>

      <div class="form-controls">
        <div class="inner-form-controls">
          <label for="nonTechnicalTopic">Non-Technical Topic</label>
          <select id="nonTechnicalTopic" formControlName="nonTechnicalTopic">
            <option value="" disabled selected>Select Non-Technical Topic</option>
            <option value="soft skills">Soft Skills</option>
          </select>
        </div>
        <div class="inner-form-controls">
          <label for="traineeName">Trainee Name</label>
          <input id="traineeName" type="text" placeholder="Enter Trainee Name" formControlName="traineeName" />
        </div>
        <div class="inner-form-controls">
          <label for="traineeID">Trainee ID</label>
          <input id="traineeID" type="text" placeholder="Enter Trainee ID" formControlName="traineeID" />
        </div>
      </div>

      <div class="form-controls">
        <div class="inner-form-controls">
          <label for="reviewType">Review Type</label>
          <select id="reviewType" formControlName="reviewType">
            <option value="" disabled selected>Select Review Type</option>
            <option value="TN Review">TN Review</option>
            <option value="SL Review">SL Review</option>
          </select>
        </div>
        <div class="inner-form-controls">
          <label for="mentorName">Mentor Name</label>
          <input id="mentorName" type="text" placeholder="Enter Mentor Name" formControlName="mentorName" />
        </div>
        <div class="inner-form-controls">
          <label for="mentorID">Mentor ID</label>
          <input id="mentorID" type="text" placeholder="Enter Mentor ID" formControlName="mentorID" />
        </div>
      </div>

      <div class="form-controls">
        <div class="inner-form-controls">
          <label for="reviewDate">Review Date</label>
          <input id="reviewDate" type="date" placeholder="Select Review Date" formControlName="reviewDate" />
        </div>
        <div class="inner-form-controls">
          <label for="TNTeam">TN Team</label>
          <input id="TNTeam" type="text" placeholder="Enter TN Team" formControlName="TNTeam" />
        </div>
        <div class="inner-form-controls">
          <label for="TNTeamID">TN Team ID</label>
          <input id="TNTeamID" type="text" placeholder="Enter TN Team ID" formControlName="TNTeamID" />
        </div>
      </div>

      <div class="form-controls">
        <div class="inner-form-controls">
          <button type="button" (click)="reviewForm.reset()">Cancel</button>
        </div>
        <div class="inner-form-controls">
          <button type="submit" [disabled]="!reviewForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

